<!DOCTYPE html>
<html>
  <head>
    <title>CSP検証ページ</title>
  </head>
  <body>
    <script nonce="<%= nonce %>">
      if (window.trustedTypes && trustedTypes.createPolicy) {
        // ポリシー関数を定義する
        const policy = trustedTypes.createPolicy("script-url", {
          // <script>要素のsrcに設定するURLをチェック
            createScriptURL: (str) => {
              const url = new URL(str, location.origin);
              if (url.origin !== location.origin) {
                // クロスオリジンの場合エラーにする
                throw new Error("クロスオリジンは許可されていません");
              }
              // 同一オリジンのみURLを返す
              return url;
            }
        });

        const script = document.createElement("script");
        // script.src = policy.createScriptURL("./csp-test.js");
        // オリジンが異なるためエラーになる
        script.src = policy.createScriptURL('http://site.example:3000/csp-test.js');
        document.body.appendChild(script);
      }
    </script>
  </body>
</html>

